<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
Bgjobs are in progress and <b><font color="red"> {{ bgjobs_count.stdout.split('\n')[0] }}</font></b>. Please Check BG Jobs Table.
</body>
</html>
