<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
In ERP FTP API Call logs more than 150 Secs of respose time recorded and <b><font color="red"> {{ res_times.stdout.split('\n')[0] }} Secs</font></b>. Please Check the ERP FTP API Call logs.
</font>
</html>
