<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
In last 30 Minutes Some DL data load jobs are in Active and <b><font color="red"> {{ dl_active_jobs.stdout.split('\n')[0] }}</font></b>. Please Check DL data load jobs Table.
</body>
</html>
