<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
DL data load jobs are in progress and <b><font color="red"> {{ dl_in_prog_jobs.stdout.split('\n')[0] }}</font></b>.Please Check DL Data load jobs Table.
</body>
</html>
